#background {
  width: 100%;
  height: 100%;
  fill: black;
}

.timeText{
  fill:white;
  font-size: 30;
}

.statIcon{
  text-anchor:start;
}

.statNum{
  font-size: 20;
  fill:white;
  text-anchor:end;
}

.dateText{
   fill:white;
   font-size: 30;
}

#dateDigit{
  text-anchor:start;
}

#dateMon{
  text-anchor:end;
}

.application-fill{ 
  fill: fb-cyan; 
}
.app-gradient-background{
  fill: fb-blue;
}
.foreground-fill{ 
  fill: fb-white;
}
.background-fill{ 
  fill: fb-black; 
}