/*KSEGO2020*/
.timeText{
  fill:white;
}

.dateText{
  fill:white;
}

#dateDigit{
  text-anchor:start;
}

#dateMon{
  text-anchor:end;
}

.stat-text{
  font-size:25;
  fill:white;
  text-anchor:start;
}

.stat-number{
  font-size:25;
  fill:white;
  text-anchor:end;
}